body {
    background-image: url('../../public/images/Hero-no-logo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.custom-card {
    height: 100%; /* Make sure the card takes the full height of the container */
    display: flex;
    flex-direction: column;
    border-radius: 20px; /* This gives rounded corners to the card */
    background-color: rgba(255, 255, 255, 0.8); /* This gives the card a slight transparency */
    overflow: hidden; /* This ensures the rounded corners are applied to the entire card, including the image */
}

.custom-card .card-image {
    height: 200px; /* Specify the height of the card image */
    overflow: hidden; /* Make sure the image doesn't spill over */
}

.custom-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Make sure the image covers the entire card image space */
}

.custom-card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    flex-grow: 1; /* Take up the remaining space in the container */
}
